%large_grid {
  display: grid;
  grid-template-columns: minmax(5rem, 1fr) minmax(min-content, 120rem) minmax(5rem, 1fr);
  @media only screen and (max-width: $bp-small) {
    grid-template-columns: 1.5rem minmax(min-content, 120rem) 1.5rem;
  }
}
