// COLOR VARIABLES
$color-1: #448ccb;
$color-2: #d7d7d7;
$color-3: #1e2123;
$color-4: #3b91c2;
$color-5: #0c9aec;
$color-6: #e8e8e9;
$color-7: #ffffff;
$color-8: #717172;
// FONT VARIABLES
$font-1: 'Open Sans', sans-serif;
// Font Size
$s-size: 1.2rem;
$m-size: 1.4rem;
$l-size: 1.6rem;
$xl-size: 2.2rem;
$xxl-size: 2.8rem;
$xxxl-size: 3.2rem;
// RESPONSIVE BREAKPOINTS
$bp-x-large: 62.5em; // 1000px;
$bp-large: 50em; // 800px;
$bp-large: 46.875em; // 800px;
$bp-small: 31.25em; // 500px;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; // 10px/16px = 62.5% -> 1rem = 10px
  @media only screen and (max-width: $bp-x-large) {
    font-size: 50%;
  }
  // @media only screen and (max-width: $bp-large) {
  //   font-size: 43%;
  // }
  // @media only screen and (max-width: $bp-medium) {
  //   font-size: 37.5%;
  // }
  // @media only screen and (max-width: $bp-small) {
  //   font-size: 31.25%;
  // }
}

body {
  font-family: $font-1;
  color: $color-3;
  font-weight: 300;
  font-size: $s-size;
  line-height: 1.2;
  background-color: $color-7;
}
