.contact {
  @extend %large_grid;
  &__wrapper {
    grid-column: 2/ 3;
    display: grid;
    grid-template-columns: repeat(12, minmax(min-content, 10rem));
    font-size: 1.6rem;
    margin: 7rem 0;
    @media only screen and (max-width: $bp-small) {
      margin: 2rem 0;
    }
  }
  &__title {
    grid-column: 1/ -1;

    margin-bottom: 7rem;
    font-size: 3.8rem;
    font-weight: 800;
    position: relative;
    &::after {
      position: absolute;
      bottom: -3rem;
      left: 0;
      font-size: 10rem;
      content: '_';
    }
  }
  &__text {
    grid-column: 1/ 6;

    p {
      margin-bottom: 2rem;
    }
    @media only screen and (max-width: $bp-small) {
      grid-column: 1/ -1;
    }
  }
  &__form {
    grid-column: 7/ 10;
    @media only screen and (max-width: $bp-large) {
      grid-column: 7/ -1;
    }
    input,
    textarea {
      width: 100%;
      border: 2px solid $color-6;
      padding: 1rem 2rem;
      outline: none;
      &:focus {
        border: 2px solid $color-3;
      }
    }
    label {
      display: block;
      text-transform: uppercase;
      font-weight: 800;
    }
    label:not(:first-child) {
      padding: 1rem 0;
    }
    button {
      color: $color-5;
      text-transform: uppercase;
      display: inline-block;

      background-color: $color-7;
      padding: 0.5rem 1rem;
      text-decoration: none;
      font-weight: 800;
      border: 2px solid $color-5;
      cursor: pointer;
    }
    @media only screen and (max-width: $bp-small) {
      grid-column: 1/ -1;
    }
  }
}
