.footer {
  background-color: $color-3;
  @extend %large_grid;
  &__wrapper {
    grid-column: 2/ 3;
    display: grid;
    grid-template-columns: repeat(12, minmax(min-content, 10rem));
    font-size: 1.6rem;
    margin: 7rem 0;
    @media only screen and (max-width: $bp-small) {
      margin: 2rem 0;
    }
  }
  &__text {
    grid-column: 1/ 7;
    p {
      color: $color-8;
      margin-bottom: 2rem;
    }
    @media only screen and (max-width: $bp-large) {
      grid-column: 1/ -1;
      grid-row: 2/ 3;
    }
  }
  &__menu {
    grid-column: 8/ -1;
    justify-self: end;

    display: flex;
    list-style: none;
    text-transform: uppercase;
    a:link,
    a:visited {
      color: $color-7;
      font-size: 1.3rem;
      text-decoration: none;
      font-weight: 700;
    }
    a:hover,
    a:active {
      color: $color-1;
    }
    li {
      padding: 1rem;
    }
    @media only screen and (max-width: $bp-large) {
      grid-column: 1/ -1;
      grid-row: 1/ 2;
    }
    @media only screen and (max-width: $bp-small) {
      li {
        padding: 0.5rem;
      }
    }
  }

  &__copywrite {
    color: $color-8;
    font-size: 1.2rem;
    grid-column: 1 / -1;
    grid-row: 2/ 3;
    justify-self: end;

    strong {
      color: $color-6;
    }
    @media only screen and (max-width: $bp-large) {
      grid-row: 3/ 4;
    }
  }
}
