.header {
  background-color: $color-1;
  @extend %large_grid;
  &__wrapper {
    grid-column: 2/ 3;
    display: grid;
    grid-template-columns: repeat(12, minmax(min-content, 10rem));
    font-size: 1.6rem;
    padding-bottom: 5rem;
    @media only screen and (max-width: $bp-small) {
      padding-bottom: 2rem;
    }
  }

  &__top-menu {
    grid-column: 1/ -1;
    display: flex;
    list-style: none;
    text-transform: uppercase;
    a:link,
    a:visited {
      color: $color-7;
      margin-right: 1rem;
      font-size: 1.2rem;
      text-decoration: none;
      font-weight: 300;
    }

    a:hover,
    a:active {
      color: $color-3;
    }
    li {
      margin: 2rem 0;
      padding-bottom: 0.4rem;
    }
    li:not(:last-child) {
      border-right: 1px solid $color-7;
    }
    li:not(:first-child) {
      margin-left: 1rem;
    }
  }

  &__logo {
    grid-column: 1/ 4;
    align-self: center;
    color: $color-7;
    font-size: 2.6rem;
    font-weight: 300;
    strong {
      font-weight: 700;
    }
    @media only screen and (max-width: $bp-large) {
      grid-column: 1/ -1;
    }
  }

  nav {
    grid-column: 4 / -1;
    justify-self: end;
    @media only screen and (max-width: $bp-large) {
      grid-column: 1/ -1;
    }
  }

  &__main-menu {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    text-transform: uppercase;
    a:link,
    a:visited {
      display: block;
      color: $color-7;
      font-size: 1.5rem;
      text-decoration: none;
      font-weight: 700;
    }
    a:hover,
    a:active {
      color: $color-3;
    }
    li {
      padding: 2rem;
    }
    @media only screen and (max-width: $bp-small) {
      li {
        padding: 0.5rem;
      }
    }
  }
  &__main-menu--works {
    position: relative;
    display: inline-block;
    &:hover .header__works {
      display: block;
    }
    &:hover a {
      color: $color-3;
    }
  }

  &__works {
    position: absolute;
    top: 5rem;
    left: -50%;
    z-index: 100;
    list-style: none;
    text-transform: uppercase;
    min-width: 200%;
    display: none;
    &::before {
      position: absolute;
      top: -1rem;
      left: 45%;
      content: '';
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 1rem 1rem 1rem;
      border-color: transparent transparent $color-3 transparent;
    }
    a:link,
    a:visited {
      color: $color-7;
      margin-right: 1.2rem;
      font-size: 1.2rem;
      text-decoration: none;
      font-weight: 700;
      margin: 0;
      padding: 1rem;
      border: 2px solid $color-3;
      background-color: $color-3;
    }
    a:hover,
    a:active {
      color: $color-3;
      background-color: $color-7;
    }
  }
}
