.intro {
  @extend %large_grid;
  &__wrapper {
    grid-column: 2/ 3;
    display: grid;
    grid-template-columns: repeat(12, minmax(min-content, 10rem));
    font-size: 1.6rem;
    margin: 7rem 0;
    @media only screen and (max-width: $bp-small) {
      margin: 2rem 0;
    }
  }

  &__welcome {
    grid-column: 1/ 4;
    @media only screen and (max-width: $bp-large) {
      grid-column: 1/ -1;
    }

    display: flex;
    flex-direction: column;
    background-color: $color-1;
    color: $color-7;
    h2 {
      margin: 7rem 5rem;
      font-size: 3.8rem;
      font-weight: 800;
      position: relative;
      &::after {
        position: absolute;
        bottom: -3rem;
        left: 0;
        font-size: 10rem;
        content: '_';
      }
    }
    p {
      margin: 0 5rem;
    }
    div {
      flex-grow: 1;
      position: relative;
      text-align: right;
    }
  }

  &__button {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 5rem;
    color: $color-7;
    text-transform: uppercase;
    display: inline-block;

    background-color: $color-4;
    padding: 1rem;
    text-decoration: none;
    font-weight: 800;
    border: 2px solid $color-7;

    @media only screen and (max-width: $bp-large) {
      position: relative;
    }
  }

  &__article {
    grid-column: 5/ 12;
    @media only screen and (max-width: $bp-large) {
      grid-column: 1/ -1;
    }
    background-color: $color-2;
    h3 {
      font-size: 2rem;
      margin: 5rem 7rem 2rem 7rem;
    }
    p {
      margin: 1rem 7rem;
    }

    p:last-child {
      margin-bottom: 7rem;
    }

    img {
      width: 100%;
      height: auto;
    }
  }
}
