.main {
  background-color: $color-1;
  @extend %large_grid;
  &__wrapper {
    grid-column: 2/ 3;
    display: grid;
    grid-template-columns: repeat(12, minmax(min-content, 10rem));
    font-size: 1.6rem;
    padding: 7rem 0;
    color: $color-7;
    @media only screen and (max-width: $bp-small) {
      padding: 2rem 0;
    }
    h3 {
      text-transform: uppercase;
      font-size: 2rem;
      font-weight: 700;
    }
    h4 {
      font-size: 1.6rem;
      font-weight: 700;
    }
    h5 {
      font-size: 1.5rem;
      font-weight: 400;
      margin: 2rem 0;
    }
    p {
      margin: 2rem 0;
    }
    ul {
      list-style: none;
    }

    li {
      font-style: italic;
      padding: 1rem;
    }

    li:not(:last-child) {
      border-bottom: 1px solid $color-3;
    }
  }

  &__web {
    grid-column: 1/ 4;
    @media only screen and (max-width: $bp-large) {
      grid-column: 1/ -1;
    }
  }

  &__wireframe {
    grid-column: 5/ -1;
    @media only screen and (max-width: $bp-large) {
      grid-column: 1/ -1;
    }
  }

  &__subsection {
    margin: 0 -2rem;
    color: $color-3;
    background-color: $color-7;
    display: flex;

    div {
      margin: 2rem;
      flex-basis: 100%;
    }

    @media only screen and (max-width: $bp-small) {
      flex-direction: column;
      margin: 0;
    }
  }
}
